In [5]:
import pandas as pd
import gmaps
import gmaps.datasets

gmaps.configure(api_key="AIzaSyAUPl7HOuaq1rF_PmMykx1G0JMjeNJZzBQ")

In [6]:
df = pd.read_excel('C:\TEMP\daedalus_ner_geocoded.xlsx')

entity_locations = df.groupby(['latitude','longitude' ]).size().reset_index()
entity_locations.columns = ['latitude', 'longitude', 'count']

In [11]:
entity_locations.head(20)

     latitude   longitude  count
0  -53.163833  -70.917068      1
1  -38.416097  -63.616672      3
2  -38.149918  144.361719      3
3  -37.846498  144.966690      1
4  -37.813628  144.963058      1
5  -37.777672  144.798892      1
6  -36.868102  174.776766      1
7  -34.920495  -57.953566      1
8  -34.603684  -58.381559      3
9  -34.595204  -58.372964      1
10 -33.788753  150.675277      1
11 -33.516943  -56.898457      1
12 -31.904711  115.917204      1
13 -30.559482   22.937506      2
14 -29.916669  151.316661      1
15 -26.164108   27.945384      1
16 -25.274398  133.775136      2
17 -25.228949  -57.011168      1
18 -24.782127  -65.423198      1
19 -23.674223  -46.543600      1

In [12]:
locations = entity_locations[["latitude", "longitude"]]
weights = entity_locations["count"]
layer = gmaps.symbol_layer(locations, fill_color="green", stroke_color="green", scale=2)
fig = gmaps.figure()
fig.add_layer(layer)

In [13]:
fig

In [21]:
heatmap_fig = gmaps.figure()
heatmap_layer = gmaps.heatmap_layer(locations, weights=weights)
heatmap_fig.add_layer(heatmap_layer)
heatmap_fig

In [15]:
heatmap_layer.max_intensity = 100
heatmap_layer.point_radius = 10

In [17]:
import gmaps.geojson_geometries
countries_geojson = gmaps.geojson_geometries.load_geometry('countries')

fig = gmaps.figure()

gini_layer = gmaps.geojson_layer(countries_geojson)
fig.add_layer(gini_layer)
fig